body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #navbar {

} */

#navbar-list {
    float: right;
    top: 20px;
}

.inline-li {
    display: inline;
    margin: 20px 30px;
    font-size: 20px;
}

.navbar-link {
    text-decoration: none;
    color: aliceblue;
}

.navbar-link:hover {
    color: orange;
}

header {
    position: relative;
    top: -50px;
    height: 500px;
    background-color: blueviolet;
    color: aliceblue;
}

#header-main-line {
    position: relative;
    top: 120px;
    /* left: 50px; */
    margin-left: 50px;
    font-size: 70px;
}

#quote {
    margin-top: 150px;
    margin-left: 50px;
    font-size: 24px;
}

#main-photo {
    position: relative;
    right: 180px;
    top: -200px;
    float: right;
    border-radius: 50%;
}

#div-about-me {
    width: fit-content;
    margin: auto;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

.div-about-me-content {
    width: fit-content;
    margin: auto;
    padding: 10px 30px;
}

.about-me-group {
    text-align: center;
}